.clickable:hover {
    cursor: pointer;
}

body {
    padding-top: 50px;
}

@font-face {
    font-family: "Raleway";
    src: url(/fonts/Raleway-Regular.otf) format("truetype");
}

body {
    background-color: #eee;
}

.jumbotron {
    margin-bottom: 0px;
}

h1, h2, h3, h4, h5, a{
    font-family: "Raleway";
}

hr {
    border-top: 1px solid #222;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #624398;
}

.programs-block {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 2px 2px rgb(166, 166, 166);
    background-color: rgb(255, 255, 255);
}

.programs-block h4 {
    color: rgb(245, 245, 245);
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: #624398;
    border-radius: 5px 5px 0 0;
    margin-top: 0;
}

.programs-block-left { padding-left: 0; padding-right: 0; }
.programs-block-right { padding-right: 0; }

.mega-hour { font-size: 20px; }
.hours { border-left: 1px solid #555; }
.hours:first-child { border-right: 1px solid #555; border-left: none; }

.bitch-center { text-align: center; }

.programs h3 { margin-top: 10px; }

.programs h5 { font-weight: bold; }

.programs-block img { width: 100%; }


/*TODO Temporary Workaround for black overlay behond modal in last version of bootstrap*/
.modal-backdrop {
    bottom: 0;
}

.description {
    /*height: 0;*/
    display: none;
}

.display-program-info .description {
    display: block;
    /*transform: rotate(90deg);*/
}

.description p {
    margin-top: 10px;
    padding-top: 5px;
    border-top: 2px solid rgb(221, 221, 221);
    text-align: justify;
}

.navbar .navbar-form{
    padding: 0 15px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.espace {
    margin-right: 2px;
}
