/* app css stylesheet */

/*body {*/
    /*padding-top: 50px;*/
/*}*/
/*#content {*/
    /*padding: 15px 15px;*/
/*}*/

/*.group-list {*/
    /*padding: 10px;*/
/*}*/

/*.group-list:hover {*/
    /*background-color: beige;*/
/*}*/

.clickable:hover {
    cursor: pointer;
}

body {
    padding-top: 50px;
}

@font-face {
    font-family: "Raleway";
    src: url(/fonts/Raleway-Regular.otf) format("truetype");
}

.jumbotron {
    margin-bottom: 0px;
}

h1, h2, h3, h4, h5, a{
    font-family: "Raleway";
}

.navbar-inverse {
    background-image: linear-gradient(to bottom,#3c3c3c 0,#63167c 100%);
}

hr {
    border-top: 1px solid #222;
}

.programs {
    /*padding-bottom : 20px;*/
    /*height: 138px;*/
}

.programs-block {
    background-image: linear-gradient(rgb(238, 238, 238) 0, rgb(255, 255, 255) 100%);
    padding: 10px;
}

.programs-block h4 {
    color: rgb(245, 245, 245);
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border-radius: 1px;
    background-image: linear-gradient(to bottom,rgb(60, 60, 60) 0,rgb(99, 22, 124) 100%);
    margin-top: 0;
}

.programs-block-left {
    padding-left: 0;
    padding-right: 0;
}

.mega-hour {
    font-size: 20px;
}

.hours {
    border-left: 1px solid #555;
}

.hours:first-child {
    border-right: 1px solid #555;    
    border-left: none;    
}

.programs-block-right {
    
}

.bitch-center {
    text-align: center;
}

.programs h3 {
    margin-top: 10px;
}

.programs h5 {
    font-weight: bold;
}

.programs img {
    width: 100%;
}


/*TODO Temporary Workaround for black overlay behond modal in last version of bootstrap*/
.modal-backdrop {
    bottom: 0;
}

.navbar .navbar-form{
    padding: 0 15px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}