/* app css stylesheet */

/*body {*/
    /*padding-top: 50px;*/
/*}*/
/*#content {*/
    /*padding: 15px 15px;*/
/*}*/

/*.group-list {*/
    /*padding: 10px;*/
/*}*/

/*.group-list:hover {*/
    /*background-color: beige;*/
/*}*/

.clickable:hover {
    cursor: pointer;
}

body {
    padding-top: 50px;
}

@font-face {
    font-family: "Raleway";
    src: url(/fonts/Raleway-Regular.otf) format("truetype");
}

body {
    background-color: #eee;
}

.jumbotron {
    margin-bottom: 0px;
}

h1, h2, h3, h4, h5, a{
    font-family: "Raleway";
}

.navbar-inverse {
    background-image: linear-gradient(to bottom,#3c3c3c 0,#63167c 100%);
}

hr {
    border-top: 1px solid #222;
}

.programs-block {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 2px 2px rgb(166, 166, 166);
    background-color: rgb(255, 255, 255);
}

.programs-block h4 {
    color: rgb(245, 245, 245);
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    background-color: rgb(99, 22, 124);
    margin-top: 0;
}

.programs-block-left {
    padding-left: 0;
    padding-right: 0;
}

.programs-block-right {
    padding-right: 0;
}

.mega-hour {
    font-size: 20px;
}

.hours {
    border-left: 1px solid #555;
}

.hours:first-child {
    border-right: 1px solid #555;    
    border-left: none;    
}

.programs-block-right {
    
}

.bitch-center {
    text-align: center;
}

.programs h3 {
    margin-top: 10px;
}

.programs h5 {
    font-weight: bold;
}

.programs-block img {
    width: 100%;
}


/*TODO Temporary Workaround for black overlay behond modal in last version of bootstrap*/
.modal-backdrop {
    bottom: 0;
}

p.description {
    transition: all 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

.display-program-info > p.description {
    transform: rotate(90deg);
}

.navbar .navbar-form{
    padding: 0 15px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}